@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1s ease-out;
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}
/* src/index.css */
@keyframes gradientBackground {
  0% {
    background-color: #ff7e5f;
    background-image: linear-gradient(45deg, #ff7e5f, #feb47b);
  }
  50% {
    background-color: #6a11cb;
    background-image: linear-gradient(45deg, #6a11cb, #2575fc);
  }
  100% {
    background-color: #ff7e5f;
    background-image: linear-gradient(45deg, #ff7e5f, #feb47b);
  }
}

.background-animation {
  animation: gradientBackground 10s ease infinite;
  background-size: 400% 400%;
}
